
body {
  background-color: aquamarine;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border: 25px solid #B88846;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.holder {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(7, 150px);
  column-gap: 0.75rem;
  row-gap: 0.2rem;
  justify-items: center;
  padding: 0.5rem;
  position: relative;
}
@media (max-width: 1200px) {
  .holder {
    grid-template-columns: repeat(6, 150px);
  }
}
@media (max-width: 1080px) {
  .holder {
    grid-template-columns: repeat(5, 150px);
  }
}
@media (max-width: 925px) {
  .holder {
    grid-template-columns: repeat(4, 150px);
  }
}
@media (max-width: 750px) {
  .holder {
    grid-template-columns: repeat(3, 150px);
  }
}
@media (max-width: 560px) {
  .holder {
    grid-template-columns: repeat(2, 150px);
  }
}

.resetButton {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  background-color: coral;
  border: 1px solid chocolate;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1.5rem;
  transition: transform 0.2s;
}
.resetButton:active {
  transform: scale(0.95);
}

.resetButton img {
  transition: transform 0.5s;
}
.resetButton:hover img {
  transform: rotateZ(360deg);
}

.control-panel {
  width: 100%;
  padding: 1rem 0rem;
  border-bottom: 7px double #B88846;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.info-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.5rem;
}
@media (min-width: 900px) {
  .info-panel {
    width: 60%;
  }
}

.bring-center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.main-div {
  max-width: 1320px !important;
}

@media (max-width: 1200px) {
  .main-div {
    max-width: 1140px !important;
  }
}

@media (max-width: 992px) {
  .main-div {
    max-width: 960px !important;
  }
}

@media (max-width: 768px) {
  .main-div {
    max-width: 720px !important;
  }
}

@media (max-width: 576px) {
  .main-div {
    max-width: 540px !important;
  }
}

.border {
  border: 1px solid black;
}

.congrats-holder {
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.6);
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.congrats {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 512px;
  max-height: 512px;
  aspect-ratio: 1/1;
  margin: auto;
  background-image: url("./images/congrats-frame.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  animation: ease-flip 2s;
}

@keyframes ease-flip {
  0% { transform: scale(0) rotateZ(0deg); }
  100% { transform: scale(1) rotateZ(720deg); }
}

.congrats-text {
  font-weight: bold;
  font-size: xx-large;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

/*===== flex on cross browsers =====*/
/*.d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.justify-content-center {
  -webkit-box-pack: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
  -webkit-justify-content: center;
	justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
	justify-content: space-between;
}

.justify-content-evenly {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
}

.align-items-center {
  -webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}*/
